<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="BankSystemEntities" connectionString="Data Source=.;Initial Catalog=BankSystem;Persist Security Info=True;User ID=Gori;Password=Goni_m20" providerName="System.Data.EntityClient" /></connectionStrings></configuration>